..
   This is the rst2pdf sphinx cover template for the first page. If you delete, it will fall back
   to the default template from which this originated in python site-packages/rst2pdf/templates.
   It is written as RestructedText which makes this a comment, but is processed by the rst2pdf
   package which uses the Python jinja templating engine giving the control flow below.

.. role:: normal

{% if title: %}

.. cssclass:: title

{{title}}

{% endif %}

{% if subtitle: %}

.. cssclass:: subtitle

{{subtitle}}

{% endif %}

.. raw:: pdf

   Spacer 0 3cm

{% for author in authors: %}
.. cssclass:: author

{{author}}

{% endfor %}

.. raw:: pdf

   Spacer 0 3cm

.. cssclass:: author

:normal:`{{date}}`

.. raw:: pdf

   OddPageBreak
